<template>
  <div class="container">
    <v-card>
    <v-card-title>
      Уведомление
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Найти"
        single-line
        hide-></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
    ></v-data-table>
  </v-card>
  </div>
</template>

<script>
// import axios from "axios";

  export default {
    data: () => ({
      search: '',
        headers: [
          {
            text: 'id',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          { text: 'I', value: 'icon' },
          { text: 'Название', value: 'name' },
          { text: 'Состояние', value: 'status' },
          { text: 'Наименование', value: 'title' },
          { text: 'Менеджер', value: 'manager' },
          { text: 'Пользователь', value: 'user' },
        ],
        desserts: [
          {
            id: '',
            icon: 'Пользователь',
            title: 6.0,
            name: 24,
            status: 4.0,
          },
          {
            id: '',
            icon: 'Пользователь',
            title: 9.0,
            name: 37,
            status: 4.3,
          },
          {
            id: '',
            icon: 'Пользователь',
            title: 16.0,
            name: 23,
            status: 6.0,
          },
        ],
    }),
    methods: {

    },
    created() {
      
    }
  }
</script>