<template>
  <div class="container">
    <v-card>
    <v-card-title>
      Пользователи
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Найти"
        single-line
        hide-></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
    ></v-data-table>
  </v-card>
  </div>
</template>

<script>
// import axios from "axios";

  export default {
    data () {
      return {
        search: '',
        headers: [
          {
            text: '',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          { text: 'Состояние', value: 'status' },
          { text: 'Логин', value: 'login' },
          { text: 'Имя', value: 'firstname' },
          { text: 'Фамилия', value: 'surname' },
          { text: 'Последнее действие', value: 'lastLog' },
          { text: 'Тип', value: 'type' },
          { text: 'Подразделение', value: 'subdivision' },
        ],
        desserts: [
          {
            id: '',
            status: 'Пользователь',
            login: 6.0,
            firstname: 24,
            surname: 4.0,
            lastLog: '1%',
          },
          {
            id: '',
            status: 'Пользователь',
            login: 9.0,
            firstname: 37,
            surname: 4.3,
            lastLog: '1%',
          },
          {
            id: '',
            status: 'Пользователь',
            login: 16.0,
            firstname: 23,
            surname: 6.0,
            lastLog: '7%',
          },
          {
            id: '',
            status: 'Пользователь',
            login: 3.7,
            firstname: 67,
            surname: 4.3,
            lastLog: '8%',
          },
          {
            id: '',
            status: 'Супервизор',
            login: 16.0,
            firstname: 49,
            surname: 3.9,
            lastLog: '16%',
          },
          {
            id: '',
            status: 'Супервизор',
            login: 0.0,
            firstname: 94,
            surname: 0.0,
            lastLog: '0%',
          },
          {
            id: '',
            status: 'Супервизор',
            login: 0.2,
            firstname: 98,
            surname: 0,
            lastLog: '2%',
          },
          {
            id: '',
            status: 'Супервизор',
            login: 3.2,
            firstname: 87,
            surname: 6.5,
            lastLog: '45%',
          },
        ],
      }
    },
  }
</script>