<template>
  <div class="container">
    <v-card>
    <v-card-title>
      Журнал
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Найти"
        single-line
        hide-></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
    ></v-data-table>
  </v-card>
  </div>
</template>

<script>
// import axios from "axios";

  export default {
    data () {
      return {
        search: '',
        headers: [
          {
            text: '',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          { text: 'Категория', value: 'category' },
          { text: 'Время', value: 'time' },
          { text: 'Пользователь', value: 'user' },
          { text: 'Событие', value: 'surname' },
        ],
        desserts: [
          {
            id: '',
            category: 'Пользователь',
            time: 6.0,
            user: 24,
            surname: 4.0,
          },
          {
            id: '',
            category: 'Пользователь',
            time: 9.0,
            user: 37,
            surname: 4.3,
          },
          {
            id: '',
            category: 'Пользователь',
            time: 16.0,
            user: 23,
            surname: 6.0,
          },
          {
            id: '',
            category: 'Пользователь',
            time: 3.7,
            user: 67,
            surname: 4.3,
          },
          {
            id: '',
            category: 'Супервизор',
            time: 16.0,
            user: 49,
            surname: 3.9,
          },
          {
            id: '',
            category: 'Супервизор',
            time: 0.0,
            user: 94,
            surname: 0.0,
          },
          {
            id: '',
            category: 'Супервизор',
            time: 0.2,
            user: 98,
            surname: 0,
          },
          {
            id: '',
            category: 'Супервизор',
            time: 3.2,
            user: 87,
            surname: 6.5,
          },
        ],
      }
    },
  }
</script>