<template>
<div class="container" style="min-height: 100%">
    <div class="d-flex">
      <v-card class="col-3">
        <v-navigation-drawer permanent>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="title" style="font-size: .8rem">
                Справочник
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-divider></v-divider>

          <v-list
            dense
            nav
          >
            <v-list-item
              v-for="item in items"
              :key="item.title"
              link
            >
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title style="font-size: .7rem">{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
      </v-card>
      <div class="col-9">
        <v-card>
          <v-card-title>
            Наименование
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Найти"
              single-line
              hide-></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="detailData"
            :search="search"
          ></v-data-table>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
// import axios from "axios";

  export default {
    data: () => ({
        items: [
          { title: 'Наименование', icon: 'mdi-view-dashboard' },
          { title: 'редуктор', icon: 'mdi-view-dashboard' },
          { title: 'Серийный номер', icon: 'mdi-view-dashboard' },
          { title: 'Техника', icon: 'mdi-view-dashboard' },
        ],
        right: null,
        search: '',
        headers: [
          {
            text: '',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          { text: 'Состояние', value: 'status' },
          { text: 'Название детали', value: 'detail' },
        ],
        detailData: [
          {
            id: '',
            status: '╨',
            detail: 'BP-8A',
          },
        ],
    }),
    methods: {
        updateTimer() {
            this.time_counter = (String(this.countHours)) + ":" + (0 + String(this.countMins)).slice(-2);
        },
        clear() {
            this.inputMin = null
            this.inputMin2 = null
            this.inputHour = null
            this.inputHour2 = null
        }
    },
    created() {

    }
  }
</script>