<template>
    <div class="contaier">
        <v-form v-model="valid">
            <v-container>
                <v-row>
                    <v-col
                    cols="12"
                    md="4"
                    >
                    <v-text-field
                        type="number"
                        v-model="calcData.first_number"
                        label="First number"
                        required
                    ></v-text-field>
                    </v-col>

                    <v-col
                    cols="12"
                    md="4"
                    >
                    <v-text-field
                        type="number"
                        v-model="calcData.second_number"
                        label="Last number"
                        required
                    ></v-text-field>
                    </v-col>
                </v-row>
                    <v-btn outlined @click="save">Send</v-btn>
            </v-container>
        </v-form>
    </div>
</template>

<script>
import items_api from "../../api/items_api";


export default {
    data() {
        return {
            valid: false,
            calcData: {first_number: null, second_number: null}
        }
    },
    methods: {
        save() {
            this.calcData.first_number = +this.calcData.first_number
            this.calcData.second_number = +this.calcData.second_number
            if(!this.calcData) {
                alert('Введите данные')
            } else {
                items_api.addCalculation(this.calcData).then(() => {
                    this.calcData = {}
                    alert('Готово')
                }).catch(er => console.error(er.response.data.message))
            }
        }
    }
}
</script>