<template>
    <div class="container">
        <v-form v-model="valid">
            <v-container>
                <v-row>
                    <v-col
                    cols="12"
                    md="4"
                    >
                    <v-text-field
                        v-model="employee.first_name"
                        :rules="nameRules"
                        :counter="10"
                        label="First name"
                        required
                    ></v-text-field>
                    </v-col>

                    <v-col
                    cols="12"
                    md="4"
                    >
                    <v-text-field
                        v-model="employee.last_name"
                        :rules="nameRules"
                        :counter="10"
                        label="Last name"
                        required
                    ></v-text-field>
                    </v-col>

                    <v-col
                    cols="12"
                    md="4"
                    >
                    <v-text-field
                        v-model="employee.email"
                        :rules="emailRules"
                        label="E-mail"
                        required
                    ></v-text-field>
                    </v-col>
                    <v-btn outlined @click="save">Send</v-btn>
                </v-row>
            </v-container>
        </v-form>
    </div>
</template>

<script>
    import items_api from "../../api/items_api";

    export default {
        name: 'addEmployee',
        data: () => ({
            valid: false,
            employee: {
                email: '',
                first_name: '',
                last_name: ''
            },
            nameRules: [
                v => !!v || 'Value is required',
                v => v.length <= 10 || 'Value must be less than 10 characters',
            ],
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid',
            ],
        }),
        methods: {
            save() {
                if(!this.employee) {
                    alert('Введите данные')
                } else {
                    // items_api.addEmployee({first_number: 45, second_number: 45}).then(() => {
                    items_api.addEmployee(this.employee).then(() => {
                        this.employee = {}
                        alert('Готово')
                    }).catch(er => console.error(er.response.data.message))
                }
            }
        }
    }
</script>