<template>
    <div class="container">
            <v-file-input
            v-model="file"
            chips
            show-size
            truncate-length="50"
            ></v-file-input>
            <v-btn outlined @click="upload(file)">send</v-btn>
    </div>
</template>

<script>
    import items_api from "../../api/items_api";

    export default {
        name: 'FileLoader',
        data: () => ({
            file: null,
        }),
        methods: {
            upload(file){
                if (file === null) {
                    return
                } else {
                    return new Promise((resolve) => {
                        let formData = new FormData();
                        formData.append('file', file)
                        items_api.uploadFileItemApi(formData).then(() => {
                            resolve(alert('Файл загружен'))
                            this.file = null
                        }).catch(err => alert(err.response.data.message));
                    })
                }
            },
        }
    }
</script>