<template>
  <div class="container" style="min-height: 100%">
    <h1 class="text-center">Портфель</h1>
    <v-card
        class="col-1 btn"
        v-if="navBackBtn"
        style="font-size: .9rem"
        elevation="1"
        outlined
        @click="changeNav('main')">
      Назад
    </v-card>
    <div class="d-flex justify-content-around flex-wrap align-items-center text-center" style="margin-top: 10%" v-if="navRussianBtn">
        <v-card
            style="font-size: .9rem"
            class="col-2 btn"
            shaped
            elevation="10"
            outlined
            @click="changeNav('rus')">
          Russian
        </v-card>
        <v-card
            style="font-size: .9rem"
            class="col-2 btn"
            shaped
            elevation="10"
            outlined
            @click="changeNav('eng')">
          USA
        </v-card>
    </div>
    <div class="col-12" v-if="navRussian">
      <form autocomplete="off" class="col-12" style="font-size: .9rem">
      <div class="d-flex flex-wrap">
        <div class="col-2">
            <small>Состояние</small><br>
            <small>Дата начало работы</small><br>
        </div>
          <div class="col-10">
            <small class="ml-5">1 ступень</small><br>
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    class="col-3"
                    v-model="date"
                    label="Дата начало работы"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="date"
                  locale="RU-ru"
                  @input="menu = false"
                ></v-date-picker>
              </v-menu>
          </div>
          <div class="col-12 d-flex">
            <small>Наименование-техники</small><br>
            <v-checkbox
              v-model="selected"
              label="EC 145"
              value="EC 145"
            ></v-checkbox>
            <v-checkbox
              class="ml-2" 
              v-model="selected"
              label="Ми-8Т UP-MI820"
              value="Ми-8Т UP-MI820"
            ></v-checkbox>
          </div>
          <div class="col-12 d-flex">
            <small>Дата события</small><br>
            <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    class="col-3"
                    v-model="date2"
                    label="Дата события"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="date2"
                  locale="RU-ru"
                  @input="menu2 = false"
                ></v-date-picker>
              </v-menu>
          </div>
          <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Форма
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="col-12 d-flex flex-wrap">
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Наименование"
                    required
                    v-model="name"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-overflow-btn
                    style="font-size: .7rem"
                    label="Сер. №"
                    :items="dropdown_serial"
                    item-value="text"
                  ></v-overflow-btn>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Нар. СНЭ"
                    required
                    v-model="narSne"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Нар. ППР:"
                    required
                    v-model="narPpr"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="посадки СНЭ"
                    required
                    v-model="landSne"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="посадки ППР"
                    required
                    v-model="landPpr"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. №1 (при уст.)"
                    required
                    v-model="engine1"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-overflow-btn
                    label="Двиг. №1 Сер. №"
                    style="font-size: .7rem"
                    :items="engineSerial1"
                    item-value="text"
                  ></v-overflow-btn>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. №1 Нар. СНЭ"
                    required
                    v-model="engineNarSne1"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. №1 Нар. ППР"
                    required
                    v-model="engineNarPpr1"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. №1 Запуск ППР"
                    required
                    v-model="engineLauncPpr1"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. №1 Циклы ППР"
                    required
                    v-model="engineCyclesPpr1"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. №2 (при уст.)"
                    required
                    v-model="engine2"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-overflow-btn
                    label="Двиг. № 2 Сер. №"
                    style="font-size: .7rem"
                    :items="engineSerial2"
                    item-value="text"
                  ></v-overflow-btn>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. № 2 Нар. СНЭ"
                    required
                    v-model="engineNarSne2"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. № 2 Нар. ППР"
                    required
                    v-model="engineNarPpr2"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. № 2 Запуск ППР"
                    required
                    v-model="engineLauncPpr2"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Двиг. № 2 Циклы ППР"
                    required
                    v-model="engineCyclesPpr2"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="редуктор"
                    required
                    v-model="reductor"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-overflow-btn
                    label="Сер. №"
                    style="font-size: .7rem"
                    :items="dropdown_serial2"
                    item-value="text"
                  ></v-overflow-btn>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Нар. СНЭ (2)"
                    required
                    v-model="narSne2"
                  ></v-text-field>
                </div>
                <div class="col-2 d-flex">
                  <v-text-field
                    label="Нар. ППР (2)"
                    required
                    v-model="narPpr2"
                  ></v-text-field>
                </div>
            </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </form>
  <v-expansion-panels>
    <v-expansion-panel>
        <v-expansion-panel-header>
          Таблица
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">
                    №
                  </th>
                  <th class="text-left">
                    Дата
                  </th>
                  <th class="text-left">
                    Пос.
                  </th>
                  <th class="text-left">
                    АР ВНВ
                  </th>
                  <th class="text-left">
                    Пункт взлёта
                  </th>
                  <th class="text-left">
                    Пункт посадки
                  </th>
                  <th class="text-left">
                    Время полёта
                  </th>
                  <th class="text-left">
                    кол-во запусков
                  </th>
                  <th class="text-left">
                    кол-во циклов
                  </th>
                  <th class="text-left">
                    планера СНЭ часы
                  </th>
                  <th class="text-left">
                    планера ППР часы
                  </th>
                  <th class="text-left">
                    посадки ППР
                  </th>
                  <th class="text-left">
                    Дв. 1 часы СНЭ
                  </th>
                  <th class="text-left">
                    Дв. 1 часы ППР
                  </th>
                  <th class="text-left">
                    Дв. 1 Циклов ППР
                  </th>
                  <th class="text-left">
                    Дв. 1 запуск ППР
                  </th>
                  <th class="text-left">
                    Дв. 2 часы СНЭ
                  </th>
                  <th class="text-left">
                    Дв. 2 часы ППР
                  </th>
                  <th class="text-left">
                    Дв. 2 Циклов ППР
                  </th>
                  <th class="text-left">
                    Дв. 2 запуск ППР
                  </th>
                  <th class="text-left">
                    ВР-8А часы СНЭ
                  </th>
                  <th class="text-left">
                    ВР-8А часы ППР
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="i in 3"
                  :key="+i+Date.now()"
                >
                  <td>{{ i }}</td>
                  <td><input type="date" name="" id=""></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                  <td contenteditable="true"></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    
  <v-expansion-panels>
    <v-expansion-panel>
        <v-expansion-panel-header>
          Форма
        </v-expansion-panel-header>
        <v-expansion-panel-content>
        <form autocomplete="off" style="font-size: .9rem">
          <div class="col-12 d-flex flex-wrap">
            <div class="col-3">
              <v-overflow-btn
                style="font-size: .7rem"
                label="Заводской №"
                :items="dropdown_serial"
                item-value="text"
              ></v-overflow-btn>
            </div>
            <div class="col-9">
              <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      class="col-3"
                      v-model="date"
                      label="Дата выпуска"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    locale="RU-ru"
                    @input="menu = false"
                  ></v-date-picker>
                </v-menu>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <small class="col-4">Наработка С.Н.Э. часы</small>
                <v-text-field
                    class="col-4"
                    label="Hour"
                    required
                    v-model="inputHour2"
                ></v-text-field>
                <v-text-field
                    class="col-4"
                    label="Min"
                    required
                    v-model="inputMin2"
                ></v-text-field>
              </div>
            </div>
            <div class="col-8">
              <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      class="col-3"
                      v-model="date"
                      label="Дата ремонта"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    locale="RU-ru"
                    @input="menu = false"
                  ></v-date-picker>
                </v-menu>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <small class="col-4">Наработка П.П.Р. часы</small>
                <v-text-field
                    class="col-4"
                    label="Hour"
                    required
                    v-model="inputHour2"
                ></v-text-field>
                <v-text-field
                    class="col-4"
                    label="Min"
                    required
                    v-model="inputMin2"
                ></v-text-field>
              </div>
            </div>
            <div class="col-8">
              <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      class="col-3"
                      v-model="date"
                      label="Срок СЛГ. истекатет"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    locale="RU-ru"
                    @input="menu = false"
                  ></v-date-picker>
                </v-menu>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <small class="col-4">Ресурсы Межр. часы</small>
                <v-text-field
                    class="col-4"
                    label="Hour"
                    required
                    v-model="inputHour2"
                ></v-text-field>
                <v-text-field
                    class="col-4"
                    label="Min"
                    required
                    v-model="inputMin2"
                ></v-text-field>
              </div>
            </div>
            <div class="col-8">
              <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      class="col-3"
                      v-model="date"
                      label="Дата отраб. кал. срока."
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    locale="RU-ru"
                    @input="menu = false"
                  ></v-date-picker>
                </v-menu>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <small class="col-4">Ресурсы Остатки. часы</small>
                <v-text-field
                    class="col-4"
                    label="Hour"
                    required
                    v-model="inputHour2"
                ></v-text-field>
                <v-text-field
                    class="col-4"
                    label="Min"
                    required
                    v-model="inputMin2"
                ></v-text-field>
              </div>
            </div>
            <div class="col-3">
              <v-text-field
                label="посадки С.Н.Э."
                required
                v-model="name"
              ></v-text-field>
            </div>
            <div class="col-3">
              <v-text-field
                label="посадки П.П.Р."
                required
                v-model="name"
              ></v-text-field>
            </div>
            <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">
                    Наименование
                  </th>
                  <th class="text-left">
                    Заводской №
                  </th>
                  <th class="text-left">
                    Номер СУ
                  </th>
                  <th class="text-left">
                    Дата выпуска
                  </th>
                  <th class="text-left">
                    Дата послед. ремонта
                  </th>
                  <th class="text-left">
                    Место послед. КР.:
                  </th>
                  <th class="text-left">
                    Наработка С.Н.Э. часы
                  </th>
                  <th class="text-left">
                    Наработка П.П.Р. часы
                  </th>
                  <th class="text-left">
                    Ресурсы Назн. часы
                  </th>
                  <th class="text-left">
                    Ресурсы Межр. часы
                  </th>
                  <th class="text-left">
                    Ресурсы Остатки часы
                  </th>
                  <th class="text-left">
                    Наработка П.П.Р. циклы
                  </th>
                  <th class="text-left">
                    Наработка П.П.Р. запуски
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="i in 3"
                  :key="+i+Date.now()"
                >
                  <td>{{ i }}</td>
                  <td><div contenteditable="true"></div></td>
                  <td><div contenteditable="true"></div></td>
                  <td><div contenteditable="true"></div></td>
                  <td><input type="date" name="" id=""></td>
                  <td><input type="date" name="" id=""></td>
                  <td><div contenteditable="true"></div></td>
                  <td><div contenteditable="true"></div></td>
                  <td><div contenteditable="true"></div></td>
                  <td><div contenteditable="true"></div></td>
                  <td><div contenteditable="true"></div></td>
                  <td><div contenteditable="true"></div></td>
                  <td><div contenteditable="true"></div></td>
                  <td><div contenteditable="true"></div></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          </div>
        </form>
    </v-expansion-panel-content>
  </v-expansion-panel>
</v-expansion-panels>
    </div>
  </div>
</template>

<script>
// import axios from "axios";

  export default {
    data: () => ({
        date: new Date().toISOString().substr(0, 10),
        date2: new Date().toISOString().substr(0, 10),
        menu: false,
        menu2: false,
        selected: [],
        name: '',
        serialNumber: '',
        dropdown_serial: ['', '9775319', 'C97411022', 'C98111057', 'CP87101201'],
        dropdown_serial2: ['', '9775319', 'C97411022', 'C98111057', 'CP87101201'],
        narSne: '',
        narPpr: '',
        narSne2: '',
        narPpr2: '',
        landSne: '',
        landPpr: '',
        engine1: '',
        engineSerial1: [],
        engineNarSne1: [],
        engineNarPpr1: [],
        engineLauncPpr1: [],
        engineCyclesPpr1: [],
        engine2: '',
        engineSerial2: [],
        engineNarSne2: [],
        engineNarPpr2: [],
        engineLauncPpr2: [],
        engineCyclesPpr2: [],
        reductor: '',
        countMins: 0,
        countHours: 0,
        time_counter: (String(0)) + ":" + (0 + String(0)).slice(-2),
        inputHour: 0,
        inputMin: 0,
        inputHour2: 0,
        inputMin2: 0,
        test: [],
        dates: [],
        navRussian: false,
        navUsa: false,
        navRussianBtn: true,
        navUsaBtn: true,
        navBackBtn: false
    }),
    methods: {
        changeNav(i) {
          this.navRussian = 'rus' == i
          this.navUsa = 'usa' == i
          if(i == 'main') {
            this.navRussianBtn = true 
            this.navUsaBtn = true
            this.navBackBtn = false
          } else {
            this.navRussianBtn = false
            this.navUsaBtn = false
            this.navBackBtn = true
          }
        }
    },
    created() {
      
    }
  }
</script>

<style scoped>

</style>