<template>
 <v-app>
     <v-container fluid style="padding: 0">
         <v-app-bar dark>
            <v-toolbar-title>
                <a href="login">
                    <v-img
                        src="../assets/new_logo.png"
                        height="50px"
                        width="50px"
                        class="mx-auto"
                        style="cursor: pointer"
                    ></v-img>
                </a>
            </v-toolbar-title>

                <v-btn to="login" class="ml-3">Главная</v-btn>
                <v-btn to="news" class="ml-3">Новости</v-btn>
            <v-spacer></v-spacer>
            <div class="d-flex flex-wrap">
                <v-btn class="mr-5" to="login">Вход</v-btn>
            </div>
        </v-app-bar>
        <v-app-bar color="white">
            <v-row class="d-flex flex-wrap mx-auto justify-center">
                <v-btn color="white" to="" class="mr-3">Услуги</v-btn>
                <v-btn color="white" class="mr-3">Сводка</v-btn>
                <v-btn color="white" to="/about" class="mr-5">О нас</v-btn>
            </v-row>
        </v-app-bar>
        <v-container>
            <h1 class="text-center">О компании</h1>
            <p>Сегодня Казахстан характеризуется особой динамикой развития рынка авиационных перевозок. Постоянно растущий спрос на услуги грузовых авиаперевозок объясняется как общим развитием экономики, так и исключительно казахстанской спецификой бизнеса: заказ грузового самолета становится неотъемлемым атрибутом успешных бизнесменов и крупных компаний.</p>
            <p>Авиакомпания  «Казавиаспас» работает в сфере авиационных пассажирских и грузовых перевозок. Профессионализм сотрудников авиакомпании  «Казавиаспас» в организации чартерных рейсов с использованием своих самолетов дает возможность оперативно организовать заказной рейс в аэропорты ближнего и дальнего зарубежья, что позволит Заказчику сэкономить и время, и средства. Кроме того, компания имеет возможность обеспечить выполнение заказа чартерного рейса не только из Астаны, но и из других аэропортов РК.</p>
            <p>Наша компания всегда готова организовать чартерные рейсы для авиаперевозок пассажиров и грузов на следующих вертолетах: МИ-171, МИ-8Т, МИ-8МТВ, МИ-17В-5, КА-32А11ВС, ЕС-145.</p>
            <p>Авиакомпания «Казавиаспас» поддерживает многолетние тесные деловые отношения со многими казахстанскими авиакомпаниями и иностранными операторами, являясь их надежным партнером</p>
            <p>Сертифицированная диспетчерская служба компании осуществляет круглосуточное оперативное обеспечение полетов ВС авиакомпании «Казавиаспас», что позволяет организовывать надежное и качественное выполнение различных рейсов.</p>
            <h2>Предмет и виды деятельности Общества</h2>
            <p>Основным предметом деятельности Общества является оказание авиационных услуг уполномоченному государственному органу в области гражданской защиты и осуществление иной хозяйственной деятельности в сфере гражданской авиации.</p>
            <p>С целью реализации основного предмета деятельности Общество осуществляет следующие виды деятельности:</p>
            <ol>
                <li>транспортно-пассажирские полеты по доставке личного состава и груза уполномоченного государственного органа в области гражданской защиты, его структурных территориальных подразделений и добровольных спасательных формирований к зонам чрезвычайных ситуаций природного и техногенного характера;</li>
                <li>выполнение полетов по эвакуации пострадавших лиц, населения и имущества с зоны чрезвычайных ситуации;</li>
                <li>выполнение полетов по доставке гуманитарного груза в зоны чрезвычайных ситуаций;</li>
                <li>участие в республиканских и международных учениях, в международных проектах ООН, ОБСЕ и других международных организаций по линии уполномоченного государственного органа в области гражданской защиты, и других органов государственного управления;</li>
                <li>выполнение полетов по проведению поисково-спасательных и аварийно-спасательных работ, оказание помощи при стихийных бедствиях;</li>
                <li>оказание услуг по техническому обслуживанию и ремонту авиационной техники и ее компонентов;</li>
                <li>выполнение полетов по оказанию медицинской помощи населению и проведению санитарных мероприятий;</li>
                <li>выполнение полетов по производству аэросъемочных, картографо-геодезических и авиационно-химических работ;</li>
                <li>выполнение полетов по обслуживанию лесного хозяйства;</li>
                <li>транспортно-связные полеты;</li>
                <li>выполнение полетов с морских судов и морских буровых установок, искусственных островов нефтегазового сектора по перевозке вахтовых бригад оборудования и т.д.;</li>
                <li>выполнение полетов по патрулированию степной, водной, лесной и горной местности для предупреждения и ликвидации чрезвычайных ситуации;</li>
                <li>выполнение полетов по предупреждению и тушению пожаров;</li>
                <li>выполнение полетов по организации служб наблюдения и оповещения (заброска и обслуживание постов);</li>
                <li>аэровизуальные облеты территорий с целью комплексной оценки ситуации (селевые потоки, паводки, оползни и т.п.)</li>
                <li>полеты по обслуживанию полевых экспедиционных работ;</li>
                <li>аэровизуальные полеты по обследованию линий электропередач и магистральных трубопроводов;</li>
                <li>выполнение тренировочных полетов для поддержания профессионального уровня летного состава и освоения новой техники;</li>
                <li>участие в тендерах по оказанию услуг по перевозке официальных лиц, правительственных делегации и иных юридических лиц;</li>
                <li>организация и выполнение литерных (чартерных) рейсов по территории Республики Казахстан и за его пределами  для официальных делегаций;</li>
                <li>иные виды деятельности, не противоречащие целям его создания.Деятельность, подлежащая государственному лицензированию,</li>
            </ol>
            <p>Деятельность, подлежащая государственному лицензированию, осуществляется Обществом при наличии соответствующей лицензии. Общество вправе осуществлять иную деятельность, не противоречащую целям его создания.</p>
        </v-container>
     </v-container>
 </v-app>
</template>

<script>
export default {

}
</script>

<style>

</style>