<template>
    <v-app >
            <!-- background image -->
        <!-- <v-img class="login-bg"></v-img>             -->
        <div v-if="loginScreen" class="col-12" style="position: absolute; z-index: 2; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, .7)"></div>
        <v-container fluid style="padding: 0">
                <v-app-bar dark>
                    <v-toolbar-title>
                        <v-img
                            src="../assets/new_logo.png"
                            height="50px"
                            width="50px"
                            class="mx-auto"
                            style="cursor: pointer"
                        ></v-img>
                    </v-toolbar-title>

                    <v-btn to="login" class="ml-3">Главная</v-btn>
                    <v-btn to="news" class="ml-3">Новости</v-btn>
                    <!-- <v-autocomplete
                    v-model="select"
                    :loading="loading"
                    :items="items"
                    :search-input.sync="search"
                    cache-items
                    class="col-3 offset-3"
                    flat
                    hide-no-data
                    hide-details
                    label="Поиск"
                    solo-inverted
                    ></v-autocomplete> -->
                    <v-autocomplete
                    cache-items
                    class="col-3 offset-3"
                    flat
                    hide-no-data
                    hide-details
                    label="Поиск"
                    solo-inverted
                    ></v-autocomplete>
                    <v-spacer></v-spacer>
                    <div class="d-flex flex-wrap">
                        <v-btn class="mr-5" @click="loginScreen = !loginScreen">Вход</v-btn>
                    </div>
                </v-app-bar>
                <v-app-bar color="white">
                    <div class="d-flex flex-wrap mx-auto">
                        <v-btn color="white" to="/our-team" class="mr-3">Наша команда</v-btn>
                        <v-btn color="white" to="" class="mr-3">Интервью</v-btn>
                        <v-btn color="white" to="" class="mr-3">Услуги</v-btn>
                        <v-btn color="white" to="" class="mr-3">Сводка</v-btn>
                        <v-btn color="white" to="/about" class="mr-5">О нас</v-btn>
                    </div>
                </v-app-bar>
                <v-row>
                    <v-col cols="8">
                        <v-carousel cycle>
                            <v-carousel-item>
                                <v-img src="../assets/0645c2471945a800112270b8132699cb.png"></v-img>
                            </v-carousel-item>
                            <v-carousel-item>
                                <v-img src="../assets/11e1a02deeee1134f43fe064570ca884.png"></v-img>
                            </v-carousel-item>
                        </v-carousel>
                    </v-col>
                    <v-col cols="4">
                            <v-data-iterator
                                :items="items"
                                :items-per-page.sync="itemsPerPage"
                                :page.sync="page"
                                :search="search"
                                hide-default-footer
                                >
                                <template v-slot:header>
                                    <v-toolbar
                                    color="white"
                                    class="mb-1"
                                    >
                                    <v-list-item-title>Новости</v-list-item-title>
                                    <!-- <v-text-field
                                        v-model="search"
                                        clearable
                                        flat
                                        solo-inverted
                                        hide-details
                                        prepend-inner-icon="mdi-magnify"
                                        label="Поиск"
                                    ></v-text-field> -->
                                    </v-toolbar>
                                </template>

                                <template v-slot:default="props">
                                    <v-row style="max-height: 60vh; overflow: hidden scroll">
                                    <v-col
                                        v-for="item in props.items"
                                        :key="item.name"
                                        cols="12"
                                    >
                                        <v-card>
                                            <v-card-title>
                                                <v-img :src="item.src" height="200"></v-img>
                                            </v-card-title>
                                            <v-card-subtitle class="subheading font-weight-bold ml-5">
                                                {{ item.name }}
                                            </v-card-subtitle>

                                            <v-divider></v-divider>
                                            <v-list dense>
                                                <p class="ml-5 mr-5">{{ item.content }}</p>
                                            </v-list>
                                        </v-card>
                                    </v-col>
                                    </v-row>
                                </template>

                                <template v-slot:footer>
                                    <v-row
                                    class="mt-2"
                                    align="center"
                                    justify="center"
                                    >
                                    <span class="grey--text">Страниц</span>
                                    <v-menu offset-y>
                                        <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                            dark
                                            text
                                            color="primary"
                                            class="ml-2"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            {{ itemsPerPage }}
                                            <v-icon>mdi-chevron-down</v-icon>
                                        </v-btn>
                                        </template>
                                        <v-list>
                                        <v-list-item
                                            v-for="(number, index) in itemsPerPageArray"
                                            :key="index"
                                            @click="updateItemsPerPage(number)"
                                        >
                                            <v-list-item-title>{{ number }}</v-list-item-title>
                                        </v-list-item>
                                        </v-list>
                                    </v-menu>
                                    <v-spacer></v-spacer>
                                    <span
                                        class="mr-4
                                        grey--text"
                                    >
                                        Страница {{ page }} из {{ numberOfPages }}
                                    </span>
                                    <v-btn
                                        fab
                                        dark
                                        color="black"
                                        class="mr-1"
                                        @click="formerPage"
                                    >
                                        <v-icon>mdi-chevron-left</v-icon>
                                    </v-btn>
                                    <v-btn
                                        fab
                                        dark
                                        color="black"
                                        class="ml-1"
                                        @click="nextPage"
                                    >
                                        <v-icon>mdi-chevron-right</v-icon>
                                    </v-btn>
                                    </v-row>
                                </template>
                            </v-data-iterator>
                    </v-col>
                </v-row>
                    
                    <v-col cols="3" v-if="loginScreen" style="position: absolute; top: 0; left: 40%; z-index: 3">
                        <div v-if="electronCard">
                            <v-dialog v-model="electronCard" persistent max-width="600px">
                                <sign-component
                                        v-on:close-electron-card="electronCard=!electronCard"
                                        v-on:sign_result="getSignResult"
                                ></sign-component>
                            </v-dialog>
                        </div>
                        <div style="max-width: 500px;" xs12>
                            <v-card tile style="background-color: rgb(255,255,255); border-radius: 25px" class="pt-5" >
                                <v-img
                                        src="../assets/new_logo.png"
                                        height="150px"
                                        width="150px"
                                        class="mx-auto mb-5"
                                ></v-img>
                                <v-card-title class="mx-auto">Avia</v-card-title>
                                <v-card-subtitle>КазАвиаСпас</v-card-subtitle>
                                <v-card-text>
                                    <v-form>
                                        <v-text-field  prepend-icon="mdi-logout" name="login" placeholder="Логин" type="text" v-model="username"></v-text-field>
                                        <v-text-field id="password"
                                                    prepend-icon="mdi-security"
                                                    name="password"
                                                    placeholder="Пароль"
                                                    type="password"
                                                    v-model="password"
                                                    v-on:keypress.enter="submit"
                                        ></v-text-field>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn rounded block dark v-on:click="submit" >Войти</v-btn>
                                </v-card-actions>
                                <v-card-actions class="pb-5">
                                    <v-btn rounded block dark @click="loginScreen = false" >Закрыть</v-btn>
                                </v-card-actions>
                                <span style="color:#005bd1; cursor: pointer; margin-left: 30%;" @click="ecpLogin">Войти с помощью ЭЦП </span>
                                <v-alert v-if="errorMessage" dense type="error">{{errorMessage}}</v-alert>
                            </v-card>
                        </div>
                    </v-col>
        </v-container>
    </v-app>

</template>

<script>
    import {mapMutations} from "vuex";
    import SignComponent from "./SignComponent";
    import common_api from "../api/common_api";


    export default {
        name: "Login",
        components:{ SignComponent },
        data:()=>({
            username:'',
            password:'',
            errorMessage:null,
            rolesRoutes: {
                'ROLE_USER': '/main/home',
                'ROLE_ADMIN':'/admin/users'
            },
            loginScreen:false,
            electronCard:false,
            signedData:null,
            itemsPerPageArray: [4, 8, 12],
            search: '',
            filter: {},
            sortDesc: false,
            page: 1,
            itemsPerPage: 4,
            items: [
            {
                name: '03/02/2021',
                content: 'ИНФОРМАЦИОННОЕ СООБЩЕНИЕ',
                src: 'https://www.kazaviaspas.kz/img/news/thumbs/9e7a7a276b1905f6c8d7d57d92a023d7.jpg'
            },
            {
                name: '20/01/2021',
                content: 'ДЧС Алматинской области совместно с "Казавиаспас" провели аэровизуальное обследование в Алматинской области',
                src: 'https://www.kazaviaspas.kz/img/news/thumbs/5a18e44dc197fae360379ceba564a82c.jpg'
            },
            {
                name: '20/02/2021',
                content: 'Коллектив «Казавиаспаса» выражает глубокие соболезнования родным и близким Енсебаева Чернияза',
                src: 'https://www.kazaviaspas.kz/img/news/thumbs/a66ffb432051f6de7243d1d911792001.jpg'
            },
            {
                name: '16/01/2021',
                content: 'Пилоты «Казавиаспаса» Игорь Мухин и Илья Точай в репортаже телеканала «Алтай ТВ»',
                src: 'https://www.kazaviaspas.kz/img/news/thumbs/adb35fa82db98ac6a904b8a5d1c7c6f5.png'
            },
            {
                name: '14/01/2021',
                content: 'В Мангистауской области спасатели произвели аэровизуальный осмотр с вертолета АО «Казавиаспас»',
                src: 'https://www.kazaviaspas.kz/img/news/thumbs/9da09b9eb8e3deb6b7f120795e6cc04b.jpg'
            },
            {
                name: '25/12/2020',
                content: 'Вертолет АО "Казавиаспас" помогает искать пропавшего мужчину в Атырау',
                src: 'https://www.kazaviaspas.kz/img/news/thumbs/229618f6f4836b9bd37603e9bf111897.img_3516.jpg'
            },
            ]
        }),

        methods:{
            submit(){
                this.$store.dispatch('loginAction',{username:this.username, password:this.password})
                    .then(()=>{
                        this.routeTo(this.rolesRoutes[this.user.role.name]);
                    }).catch(er=>{
                    this.errorMessage=er.response.data.message;
                })
            },

            routeTo(route){
                this.$router.push(route);

            },

            ...mapMutations([
                'logoutMutation',
                'loginSuccessMutation'
            ]),

            logout(){
                this.logoutMutation();
            },

            login(user){
                this.loginSuccessMutation(user);
            },

            ecpLogin(){
                this.electronCard=true;
            },

            getSignResult(resultFromEvent){
                common_api.loginByEcp(resultFromEvent).then(rs=>{
                    this.login(rs.data)
                    this.routeTo(this.rolesRoutes[this.user.role.name]);
                })
            },

            nextPage () {
                if (this.page + 1 <= this.numberOfPages) this.page += 1
            },
            formerPage () {
                if (this.page - 1 >= 1) this.page -= 1
            },
            updateItemsPerPage (number) {
                this.itemsPerPage = number
            },
        },


        computed:{
            user:{
                get(){
                    return  this.$store.state.user;
                }
            },
            numberOfPages () {
                return Math.ceil(this.items.length / this.itemsPerPage)
            }
        },
        created() {
            this.logout();
        }
    }
</script>

<style scoped>
    /* background image styles */
    body {
        box-sizing: border-box;
    }
    
    .login-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #fff;
    }
</style>
