<template>
    <v-app>
        <v-container fluid style="padding: 0">
            <v-app-bar dark>
                <v-toolbar-title>
                    <a href="login">
                        <v-img
                            src="../assets/new_logo.png"
                            height="50px"
                            width="50px"
                            class="mx-auto"
                            style="cursor: pointer"
                        ></v-img>
                    </a>
                </v-toolbar-title>

                    <v-btn to="login" class="ml-3">Главная</v-btn>
                    <v-btn to="news" class="ml-3">Новости</v-btn>
                <v-spacer></v-spacer>
                <div class="d-flex flex-wrap">
                    <v-btn class="mr-5" to="login">Вход</v-btn>
                </div>
            </v-app-bar>
            <v-app-bar color="white">
                <v-row class="d-flex flex-wrap mx-auto justify-center">
                    <v-btn color="white" to="" class="mr-3">Услуги</v-btn>
                    <v-btn color="white" class="mr-3">Сводка</v-btn>
                    <v-btn color="white" to="/about" class="mr-5">О нас</v-btn>
                </v-row>
            </v-app-bar>
            <v-col cols="12">
                <v-data-iterator
                    :items="items"
                    :items-per-page.sync="itemsPerPage"
                    :page.sync="page"
                    :search="search"
                    hide-default-footer
                    >
                    <template v-slot:header>
                        <v-toolbar
                        color="white"
                        >
                        <v-list-item-title>Новости</v-list-item-title>
                        <v-text-field
                            v-model="search"
                            clearable
                            flat
                            solo-inverted
                            hide-details
                            prepend-inner-icon="mdi-magnify"
                            color="white"
                            label="Поиск"
                        ></v-text-field>
                        </v-toolbar>
                    </template>

                    <template v-slot:default="props">
                        <v-row>
                        <v-col
                            v-for="item in props.items"
                            :key="item.name"
                            cols="12"
                            sm="6"
                            md="4"
                            lg="3"
                        >
                            <v-card>
                                <v-card-title>
                                    <v-img :src="item.src" height="200"></v-img>
                                </v-card-title>
                                <v-card-subtitle class="subheading font-weight-bold ml-5">
                                    {{ item.name }}
                                </v-card-subtitle>

                                <v-divider></v-divider>
                                <v-list dense>
                                    <p class="ml-5 mr-5">{{ item.content }}</p>
                                </v-list>
                            </v-card>
                        </v-col>
                        </v-row>
                    </template>

                    <template v-slot:footer>
                        <v-row
                        class="mt-2"
                        align="center"
                        justify="center"
                        style="margin: 0 15px"
                        >
                        <span class="grey--text">Страниц</span>
                        <v-menu offset-y>
                            <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                dark
                                text
                                color="primary"
                                class="ml-2"
                                v-bind="attrs"
                                v-on="on"
                            >
                                {{ itemsPerPage }}
                                <v-icon>mdi-chevron-down</v-icon>
                            </v-btn>
                            </template>
                            <v-list>
                            <v-list-item
                                v-for="(number, index) in itemsPerPageArray"
                                :key="index"
                                @click="updateItemsPerPage(number)"
                            >
                                <v-list-item-title>{{ number }}</v-list-item-title>
                            </v-list-item>
                            </v-list>
                        </v-menu>
                        <v-spacer></v-spacer>
                        <span
                            class="mr-4
                            grey--text"
                        >
                            Страница {{ page }} из {{ numberOfPages }}
                        </span>
                        <v-btn
                            fab
                            dark
                            color="black"
                            class="mr-1"
                            @click="formerPage"
                        >
                            <v-icon>mdi-chevron-left</v-icon>
                        </v-btn>
                        <v-btn
                            fab
                            dark
                            color="black"
                            class="ml-1"
                            @click="nextPage"
                        >
                            <v-icon>mdi-chevron-right</v-icon>
                        </v-btn>
                        </v-row>
                    </template>
                </v-data-iterator>
        </v-col>
        </v-container>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            itemsPerPageArray: [4, 8, 12],
            search: '',
            filter: {},
            sortDesc: false,
            page: 1,
            itemsPerPage: 4,
            items: [
                {
                    name: '03/02/2021',
                    content: 'ИНФОРМАЦИОННОЕ СООБЩЕНИЕ',
                    src: 'https://www.kazaviaspas.kz/img/news/thumbs/9e7a7a276b1905f6c8d7d57d92a023d7.jpg'
                },
                {
                    name: '20/01/2021',
                    content: 'ДЧС Алматинской области совместно с "Казавиаспас" провели аэровизуальное обследование в Алматинской области',
                    src: 'https://www.kazaviaspas.kz/img/news/thumbs/5a18e44dc197fae360379ceba564a82c.jpg'
                },
                {
                    name: '20/02/2021',
                    content: 'Коллектив «Казавиаспаса» выражает глубокие соболезнования родным и близким Енсебаева Чернияза',
                    src: 'https://www.kazaviaspas.kz/img/news/thumbs/a66ffb432051f6de7243d1d911792001.jpg'
                },
                {
                    name: '16/01/2021',
                    content: 'Пилоты «Казавиаспаса» Игорь Мухин и Илья Точай в репортаже телеканала «Алтай ТВ»',
                    src: 'https://www.kazaviaspas.kz/img/news/thumbs/adb35fa82db98ac6a904b8a5d1c7c6f5.png'
                },
                {
                    name: '14/01/2021',
                    content: 'В Мангистауской области спасатели произвели аэровизуальный осмотр с вертолета АО «Казавиаспас»',
                    src: 'https://www.kazaviaspas.kz/img/news/thumbs/9da09b9eb8e3deb6b7f120795e6cc04b.jpg'
                },
                {
                    name: '25/12/2020',
                    content: 'Вертолет АО "Казавиаспас" помогает искать пропавшего мужчину в Атырау',
                    src: 'https://www.kazaviaspas.kz/img/news/thumbs/229618f6f4836b9bd37603e9bf111897.img_3516.jpg'
                },
            ]
        }
    },
    methods: {
        nextPage () {
            if (this.page + 1 <= this.numberOfPages) this.page += 1
        },
        formerPage () {
            if (this.page - 1 >= 1) this.page -= 1
        },
        updateItemsPerPage (number) {
            this.itemsPerPage = number
        },
    },
    computed: {
        numberOfPages () {
            return Math.ceil(this.items.length / this.itemsPerPage)
        }
    }
}
</script>

<style>

</style>