<template>
    <v-app>
        <v-carousel cycle>
            <v-carousel-item>
                <v-img src="../assets/0645c2471945a800112270b8132699cb.png"></v-img>
            </v-carousel-item>
            <v-carousel-item>
                <v-img src="../assets/11e1a02deeee1134f43fe064570ca884.png"></v-img>
            </v-carousel-item>
        </v-carousel>
    </v-app>
</template>

<script>
export default {

}
</script>

<style>

</style>