<template>
  <div class="container" style="min-height: 100%">
    <h1 class="text-center">Отчеты</h1>
  </div>
</template>

<script>
// import axios from "axios";

  export default {
    data: () => ({
        
    }),
    methods: {
      
    },
    created() {
      
    }
  }
</script>